$white: #fff;

$background-color: $white;
$background-color-dark: #282828;

$text-color: #333;
$text-color-dark: #ddd;
$text-color-light: lighten($text-color, 45%);
$heading-color: #333;
$heading-color-dark: #ddd;
$meta-text-color: lighten($text-color, 45%);
$header-color: #518f00;
$header-color-dark: adjust-color($header-color, $lightness: -10%, $saturation: -10%);

$border-color: #ccc;
$border-color-dark: #666;

$link-color: rgb(24, 99, 161);
$link-color-dark: lighten($link-color, 25%);
$link-color-hover: lighten($link-color, 10%);
$link-color-hover-dark: lighten($link-color-dark, 10%);

$footer-link-color: lighten($text-color, 25%);
$footer-link-color-hover: lighten($link-color, 10%);
