$heading-font-family: "Gotham A", "Gotham B", sans-serif;
$body-font-family: "Mercury SSm A", "Mercury SSm B", serif;
$mono: "Source Code Pro", "Consolas", "Menlo", monospace !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;
