$heading-font-family: "Inter", sans-serif;
$body-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, serif;
$mono: "Source Code Pro", "Consolas", "Menlo", monospace !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;
