<footer class="site-footer">
  <div class="container">
    <form action="https://duckduckgo.com/" method="get" class="search-form">
      <fieldset role="search" class="search-form__fieldset">
        <input type="hidden" name="sites" value="https://danbarber.me">
        <input class="search-form__input" type="search" name="q" results="0"
        placeholder="Search">

        {{ partial "search.svg" . }}
      </fieldset>
    </form>

    <p>Copyright © 2020 – Dan Barber</p>
  </div>
</footer>
