<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}
</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans|Inter">

{{ $sass := resources.Get "sass/main.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Links -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ range .Sections -}}
  {{- range .AlternativeOutputFormats }}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end }}
{{ end -}}


<!-- Favicon -->
<!-- <link href="" rel="shortcut icon"> -->

<!-- Large favicon for Opera Speed Dial -->
<!-- <link rel="icon" type="image/png" href="/favicon_32.png"> -->

<!-- iOS favicons -->
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png"> -->


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Indieweb -->
<link rel="micropub" href="https://yink.us/micropub/main">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="microsub" href="https://aperture.p3k.io/microsub/509">

<link href="https://micro.blog/yinka" rel="me">
<link href="https://twitter.com/yinka" rel="me">
<link href="https://github.com/yinka" rel="me">
<link href="https://www.instagram.com/yinka/" rel="me">
<link href="/key.asc" rel="pgpkey">
<link type="text/plain" rel="author" href="/humans.txt">

{{ if .Title }}
<meta property="og:title" content="{{ .Title }} – {{ .Site.Title }}">
{{ else }}
<meta property="og:title" content="{{ .Site.Title }}">
{{ end }}
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.image }}
  {{ $imageSize := default "600x600" }}
  {{ $src := .Page.Resources.GetMatch (.Params.image) }}
  {{ $image := $src.Fit $imageSize }}
<meta property="og:image" content="{{ $image.RelPermalink }}">
{{ end }}
<meta property="og:description" content="{{ .Summary }}">
<meta property="og:locale" content="en_UK">
