{{ define "main" }}
  <section class="home__about">
    <article class="container">
      {{ .Content }}
    </article>
  </section>

  <section class="home__photos">
    <article class="container">
      <header class="home__header">
        <h2>Latest Photos</h2>
      </header>

      <div class="photos__container">
        {{ range first 3 (where .Site.RegularPages "Section" "photos") }}
          <article class="photos__thumb-container">
            {{ partial "photo_thumb.html" . }}
          </article>
        {{ end }}
      </div>

      <footer class="home__more">
        <p><a href="/photos">All Photos →</a></p>
      </footer>
    </article>
  </section>

  <section class="home__blog">
    <article class="container">
      <header class="home__header">
        <h2>From the Blog</h2>
      </header>

      {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
        {{ partial "blog_post_summary.html" . }}
      {{ end }}

      <footer class="home__more">
        <p><a href="/blog">More posts →</a></p>
      </footer>
    </article>
  </section>
{{ end }}
